<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
      <a class="navbar-brand" href="/">Ear Training</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/chordnote">Functional Chord and Degree</a></li>
        <li><a href="/chordapp">Chord Progression</a></li>
        <li><a href="/contact">Contact</a></li>
        <% if(!currentUser){%>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Sign Up</a></li>
        <% } else { %>
          <li><a href="#">Signed In As <strong><%= currentUser.username %></strong></a></li>
          <li><a href="/logout">Logout</a></li>
        <% }  %>
      </ul>
    </div>
  </div>
</nav>
