 
 <nav class="navbar navbar-default navbar-fixed-top">
   <div class="container-fluid">
        
     <div class="navbar-header">
         <button class="navbar-toggle" data-toggle= "collapse" data-target= ".navHeaderCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
         </button>
         <a class="navbar-brand" href="/">Ear training</a>
     </div>
  
     <div class= "collapse navbar-collapse navHeaderCollapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
 <li><a href="/chordapp">chord progression </a></li>
 <li><a >Contact</a></li>
        </ul>
    </div>
  </div>
</nav>