<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chord Progressions App</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>

<% include partials/navbar.ejs %>
<br/>
<br/>
<br/>
<h5>fill the form:</h5>

<form action="/contact" method="POST">
  Name:<br>
  <input type="text" name="name"><br>
  E-mail:<br>
  <input type="text" name="email"><br>
  Comment:<br>
  <input type="text" name="comment" size="50"><br><br>
  <input type="submit" value="Send">
  <input type="reset" value="Reset">
</form>
<br/>
<br/>
<br/>
<h5>or write email to : <strong>juliendemarquedev@gmail.com</strong></h5>


</body>
</html>