<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chord Progressions App</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/chordapp.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>

<% include partials/navbar.ejs %>
<br/>
<br/>
<br/>
<h2>Welcome to Ear App</h2>
<br/>
<h5>This is the 1st version of this website.
  You can already enjoy the <a href="./chordapp">chord progression ear trainer</a>
   and <a href="./chordnote">chord and note functional trainer</a></h5>


<% include partials/footer.ejs %>
