<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chord Progressions App</title>


    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/app.js"></script>
  </head>
  <body>
  	<h1>Chord Progression Ear Trainer</h1>

  		<audio controls>
			  <source src="./audio/belev.mp3" type="audio/mp3" >
			  
			  Your browser does not support the audio element.
		</audio>
  
	  	<button id="changeBtn">New Song <i class="fa fa-refresh" aria-hidden="true"></i></button>
	  	<h3>KEY : <span id="key"></span></h3>
		<h5>Select the bar...</h5>
		  
	  
		<div class= "lead-sheet">
		    
		</div> 
  
	  	<div class= "selection">
		    <h5>...Guess the chord...</h5>
		    <div class= "root">
		      <div  class="rooty">C</div>
		      <div class="rooty">Db</div>
		      <div class="rooty">D</div>
		      <div class="rooty">Eb</div>
		      <div class="rooty">E</div>
		      <div class="rooty">F</div>
		      <div class="rooty">Gb</div>
		      <div class="rooty">G</div>
		      <div class="rooty">Ab</div>
		      <div class="rooty">A</div>
		      <div class="rooty">Bb</div>
		      <div class="rooty">B</div>
		    </div>  
		    
		    <h5>...and extension</h5>
		    <div class="ext">
		       <div class="extension">maj</div>
		       <div class="extension">maj6</div>
		       <div class="extension">maj69</div>
		       <div class="extension">7</div>
		       <div class="extension">min7</div>
		    </div>  
	  	</div>  
  	<button id="check">Check Yourself</button>
  	<button id="showAnswer">Show Answer</button>
  </body>
</html>