
@font-face {
    font-family: "My Custom Font";
    src: url(./CaveatBrush-Regular.ttf) format("truetype");
}


body{
  font-family: "Helvetica Neue", Helvetica,Arial, sans-serif, "My Custom Font";
  text-align: center;
  position: relative;
  padding-top: 30px;
}

h1{
  padding: 8px;
  background-color: rgb(95, 134, 142);
  color: white;
}

h4{
  margin-bottom: 0;
}

h5{
  margin-top: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
}

.choices{
  margin: 20px;
}


button{
  background-color: white;
  border-color: rgb(220, 177, 102);
  font-family: "My Custom Font";
  margin: 10px 5px;
  font-size: 20px;
  border-radius: 5px;
}

button:hover{
  background-color: rgb(247, 233, 197);
  cursor:pointer;
   transform: scale(1.06);
}


.hide{
  display: none;
}

button:focus {
  outline:0;
}


.right{
  background-color: rgb(125, 184, 192);
}

.wrong{
  background-color: rgb(250, 80, 80);
}

#progressBar{
  margin: 20px auto;
  overflow: hidden;
  border: 1px black solid;
  border-radius: 10px;
  height: 20px;
  min-width: 350px;
  width: 50%;
  background-color: #f5f5f5;
  box-shadow: inset 1px 1px 2px gray;
}

#progress{
  height: 100%;
  background-color: rgb(125, 184, 192);
  transition: width 2s;
}

/*  D3 styling*/

.big{
  width: 800px;
  height: 500px;
}

.modal-dialog{
  width: 900px;
}

.text {
  font-size: 15px;

}

.title-text {
  font-size: 20px;
  font-weight: 900;
}

.line {
  stroke-width: 2;
  fill: none;
}
