
@font-face {
    font-family: "My Custom Font";
    src: url(./CaveatBrush-Regular.ttf) format("truetype");
}



body{
  font-family: "Helvetica Neue", Helvetica,Arial, sans-serif, "My Custom Font";
  text-align: center;
  position: relative;
  padding-top: 80px;
}

a{
   cursor:pointer;
}

h1{
  padding: 8px;
  background-color: rgb(95, 134, 142);
  color: white;
}

div {
  display: block;
  text-align: center;

}

.step{
  color: rgb(220, 177, 102);
}

.full{
  font-size: 30px;
  line-height: 72px;
}

.lead-sheet{
  margin: 10px auto;
  margin-bottom: 30px;
  position: relative;
  width: 770px;

 /* border: 2px solid black;*/
  overflow: hidden;
}

.cell {
    color: black;
    font-family:  "My Custom Font";
    position: relative;
    float: left;
    border: 1px solid black;
    overflow: hidden;
    text-align: center;
    height: 72px;
    width: 12.5%;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
}

.box {

    position: relative;
    float: left;
    border: 1px solid black;
    overflow: hidden;
    text-align: center;
    height: 72px;
    width: 12.5%;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
}

.cell:hover{
  cursor:pointer;
}


.divided {
  font-size: 20px;
  line-height: 36px;
  border: none;
}

.diagonal{
  width : 120px;
  top: 34px;
  left: -12px;
  -webkit-transform: rotate(324deg);
  position: absolute;
  border-top: 2px #000 solid;
  margin: 0;
  padding: 0;
}

.topLeft {
    height: 72px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100px;
    margin: 0;
    padding-right: 50px;
    -webkit-clip-path : polygon(0% 0%, 0% 100%, 100% 0%);
    clip-path : polygon(0% 0%, 0% 100%, 100% 0%);
}

.bottomRight{
    top: 0px;
    height: 72px;
    margin-left: 0px;
    position: absolute;
    padding-left: 30px;
    padding-top: 30px;
    left: 0;
    width: 100px;
    -webkit-clip-path : polygon(0% 100%, 100% 100%, 100% 0%);
    clip-path : polygon(0% 100%, 100% 100%, 100% 0%);
}

/*.top-triangle{
  position absolute;
  width:100px;
  height:72px;
  background: brown;

} */

.supsub {
    display: inline-block;
}

.supsub sup,
.supsub sub {
    position: relative;
    display: block;
    font-size: .7em;
    line-height: 0.3;
}

sup {
    font-size: .7em;
  line-height: 0.8;
}


.supsub sub {
    top: .1em;
}

.onFocus {
  outline : none;
  background-color: rgb(247, 233, 197);
}

.selection{
  margin: 10px auto;

}

#key{
  font-family: "My Custom Font";
}

.root{
  font-size: 0; /* Trick to get the horizontal spacing of the children div */
  margin-top: 20px;
  overflow: hidden;
}

.rooty{
  font-size: 14px;
  display: inline-block;
  font-family: "My Custom Font";
  border-radius: 6px;
  line-height: 30px;
  height: 30px;
  width: 40px;
  margin: 2px;
  border: solid 1px black;

-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
}

.rooty:hover{
  background-color: rgb(247, 233, 197);
  cursor:pointer;
}

.ext{
  font-size: 0; /* Trick to get the horizontal spacing of the children div */
  overflow: hidden; /*put this if there are floating elements inside !! */
  margin-top: 20px;
}

.extension{
  font-size: 14px;
  font-family: "My Custom Font";
  border-radius: 6px;
  margin: 2px;
  line-height: 30px;
  height: 30px;
  width: 40px;
  border: solid 1px black;
  display: inline-block;
}

.extension:hover{
  background-color: rgb(247, 233, 197);
  cursor:pointer;
}

.correct{
  background-color: rgb(155, 255, 102);
}

.almostCorrect{
  background-color: rgb(255, 197, 70);
}

.wrong{
  background-color: rgb(250, 80, 80);
}


button{
  background-color: white;
  border-color: rgb(220, 177, 102);
  font-family: "My Custom Font";
  margin: 15px 5px;
  display: block;
  font-size: 20px;
  border-radius: 5px;
}

button:focus {
  outline:0;
}

button:hover{
  background-color: rgb(247, 233, 197);
  cursor:pointer;
   transform: scale(1.06);
}


.controls{
  overflow: hidden;
  border: 2px solid rgb(95, 134, 142);
  border-radius: 10px;
  padding: 15px;
}

.down{
   min-height: 290px;
}

.controls > button{
  display: inline-block;
}

.mode-select{
  width: 200px;
  margin: 5px auto;
}

.col-md-8{
  padding: 0 7px;
}

.col-md-4{
  padding: 0 7px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.info{
  top: 0;
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  background-color: rgba(95, 134, 142, 0.5);
}

.boxInfo{
  padding: 50px;
  background-color: rgba(95, 134, 142, 0.98);
  border: 2px solid rgb(95, 134, 142);
  border-radius: 30px;
  position: absolute;
  top: 10%;
  left: 15%;
  height: 600px;
  width: 70%;
}

.info h3, .fa-times{
  color: white;
}

.fa-times:hover{
  color: rgb(247, 233, 197);
}

#closingWindow{
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 28px;
}

.exempleInfo{
    margin: 5px;
    height: 80px;
}

.comment{
  margin: 20px;
  float: left;
  line-height: 40px;
}

.invisible{
  display: none;
}
